<div style="max-height: 100px;">
	<div ng-repeat="b in blogs">
		<!-- <img src="{{b.image}}" onerror="this.src = '/img/defaultblog.jpg'"> -->
		<!-- <object data="{{b.image}}" type="image/png">
		    <img src="img/defaultblog.jpg" />
		  </object> -->
		  <div style="padding: 4%; background-color: rgba(236, 244, 249, 0.7); color: black; text-shadow: #585555 0px 0px 10px;">
		<h2 style="text-align: center; font-style: italic;">{{b.header | uppercase}}</h2><br/>
		<div style="text-align: justify; text-justify: inter-word; padding-bottom: 10px;" ng-bind-html="b.htmlData" ></div>
		<hr style="width: 50%; background-color: black; height: 1px;" />

			<div class="btn btn-sm" ng-disabled="b.liked" ng-click="like(b); b.liked = true;">
				<i ng-show="!b.liked" class="fa fa-thumbs-up" aria-hidden="true">&nbsp;Like({{b.likes}})</i>
				<i ng-show="b.liked" class="fa fa-thumbs-up" aria-hidden="true" style="color: green;">&nbsp;({{b.likes}})</i>
			</div>
			<!-- <div class="btn btn-sm"><i class="fa fa-comment" aria-hidden="true"></i>&nbsp;Comments</div>
			<div>
				<textarea rows="1" style="width: 60%; height: 40pt;" placeholder="please write comments here.."></textarea>
			</div> -->
		
		</div>
		<br/>
	</div>
</div>
