	<div class="image">

<!-- <img src="img/home1.jpg" width="100%">
	
	</img> -->
      
      <div class="homeText col-md-6 col-sm-12">
      	<!-- <span>Vishal Kalaskar<span class='spacer'></span> -->
      	<br /><span class='spacer'></span>Sr. Safety Associate</span>
      	<h5>
      	<br /><span class='spacer'></span> Quintiles IMS </span>
      	<br /><br /><br /><span class='spacer'></span> _________________________________ </span>
      	</h5>
      
      </div>
      
      <div class="homeText col-md-12 col-sm-12">
            <h5>
            <span class='spacer'>
                  > Analytical and results-oriented Drug Safety Associate. <br/><br/>
                  > With 2+ years' experience collaborating pharmaceutical safety issues.<br/><br/>
                  > Great communication organization and time management abilities.
            </span>
            <br/><br/><br/>
            </h5>
      </div>
      <div class="homeText col-md-12 col-sm-12">
                  
            <!-- <span>Vishal Kalaskar<span class='spacer'></span> -->
            <br /><span class='spacer'></span>Contact</span>
            <h5>
            <br /><span class='spacer'></span> From: Darjeeling </span>
            <br /><span class='spacer'></span> Mob: +91-8296486383 </span>
            <br /><span class='spacer'></span> Email: pchhetri97@gmail.com </span>
            <br /><span class='spacer'></span> _________________________________ </span>
            </h5>
      </div>
</div>