	<div class="image">

<!-- <img src="img/home1.jpg" width="100%">
	
	</img> -->
      
      <div class="homeText">
      	<!-- <span>Vishal Kalaskar<span class='spacer'></span> -->
      	<br /><span class='spacer'></span>Sr. Safety Associate</span>
      	<h5>
      	<br /><span class='spacer'></span> Quintiles IMS </span>
      	<br /><span class='spacer'></span> _________________________________ </span>
      	</h5>
      
      	<br /><br />
      
      	<!-- <span>Vishal Kalaskar<span class='spacer'></span> -->
      	<br /><span class='spacer'></span>Contact</span>
      	<h5>
      	<br /><span class='spacer'></span> From: Darjeeling </span>
      	<br /><span class='spacer'></span> Mob: +91-9876543210 </span>
      	<br /><span class='spacer'></span> Email: pchhetri97@gmail.com </span>
      	<br /><span class='spacer'></span> _________________________________ </span>
      	</h5>
      </div>
</div>