<div class="aboutText">

      	<!-- <span>Vishal Kalaskar<span class='spacer'></span> -->
      	<h2 style="font-weight: bold"><span class='spacer'></span>Sr. Safety Associate</span></h2>
      	<h5>
      	<br /><span class='spacer'></span> Quintiles IMS </span>
      	<br /><span class='spacer'></span> _________________________________ </span>
      	</h5>
      
	<span class='spacer'>
		> Analytical and results-oriented Drug Safety Associate. <br/><br/>
		> With 2+ years' experience collaborating pharmaceutical safety issues.<br/><br/>
		> Great communication organization and time management abilities.
	</span>
</div>